  <%= simple_form_for @task,
  data: {
        new_task_target: "form",
        action: "submit->new-task#send"
      } do |f| %>

    <%= f.input :title, label: "name of task" %>

    <div class="row g-3">
      <div class="col-10">
        <%= f.input :description, label: "add details here" %>
      </div>
      <div class="col-2">
        <%= f.input :priority, as: :radio_buttons, collection: Task::PRIORITY, label: "set priority" %>
      </div>
    </div>

    <div class="row g-3" data-controller="datepicker">
      <div class="col-6">
        <%= f.input :due_date,
                    as: :string,
                    label: "when to complete",
                    input_html: { class: "input-color", data: { "datepicker-target": "duedatepickr" } } %>
      </div>
      <div class="col-6">
        <%= f.input :reminder_datetime,
                    as: :string,
                    label: "set a reminder",
                    input_html: { class: "input-color", data: { "datepicker-target": "reminderpickr" } } %>
      </div>
    </div>

    <%= f.input :documents, as: :file, input_html: { multiple: true }, label: "upload documents (press ctrl when selecting multiple files)" %>

    <%= f.input :status, as: :boolean, checked_value: 'Completed', unchecked_value: 'Incomplete', collection: Task::STATUS, label: "completed?" %>

    <div class="d-flex justify-content-between align-items-center">
      <%= f.submit class:"btn btn-primary mt-3" %>
        <% if @task.persisted? %>
      <p data-action="click->sliding-effect#loadEdit" class="task-icons"><i class="fa-solid fa-arrow-up-right-from-square"></i></p>
      <% else %>
        <p data-action="click->new-task#addNewTask" class="task-icons"><i class="fa-solid fa-arrow-up-right-from-square"></i></p>
      <% end %>
    </div>
  <% end %>
