<div class="container p-2" style="height: 100%;">
  <div class="row" style="height: 100%;">
    <div class="col-11">
      <div>
        <% if @task.priority %>
          <% if @task.priority == "High" %>
            <span class="rectangular-highlight bg-danger">
                High priority
            </span>
          <% elsif @task.priority == "Medium" %>
            <span class="rectangular-highlight bg-warning">
                Medium priority
            </span>
          <% elsif @task.priority == "Low" %>
            <span class="rectangular-highlight bg-success">
                Low priority
            </span>
          <% end %>
        <% end %>
      </div>

      <h1><%= @task.title %></h1>
      <p><%= @task.description %></p>

      <div class="row">
      <% @task.documents.each do |doc| %>
        <% url = cloudinary_url(doc.key) %>
        <% image_url = url.sub('/upload/', '/upload/f_jpg/') %>

        <div class="col-3 card border-0 mx-1">
          <a href="<%= url %>"><img src="<%= image_url %>" class="w-100 border" alt=""></a>
        </div>

      <% end %>
      </div>
    </div>

    <div class="col-1 d-flex flex-column justify-content-end">
      <p class="task-icons" data-action="click->task-cards#closeCard"><i class="fa-solid fa-arrow-up-right-from-square"></i></p>

      <%= render "tasks/checkbox", task: task %>

      <p class="task-icons"><%= link_to task_path(@task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa-regular fa-trash-can text-dark"></i>
      <% end %></p>

      <p data-action="click->task-cards#openEdit" class="task-icons"><i class="fa-regular fa-pen-to-square"></i></p>
    </div>
  </div>
</div>
