<div class="container px-2 d-flex flex-column" style="height: 100%;">
  <div>
    <% if @task.priority %>
      <% if @task.priority == "High" %>
        <span class="rectangular-highlight bg-danger">
            High priority
        </span>
      <% elsif @task.priority == "Medium" %>
        <span class="rectangular-highlight bg-warning">
            Medium priority
        </span>
      <% elsif @task.priority == "Low" %>
        <span class="rectangular-highlight bg-success">
            Low priority
        </span>
      <% end %>
    <% end %>
  </div>

  <h1><%= @task.title %></h1>

  <%= simple_form_for @task,
  html: {
    class: 'flex-grow-1 d-flex flex-column' },
  data: {
        action: ("submit->task-cards#submit"),
        task_cards_target: "textarea"
    } do |f| %>
  <%= f.input :description, as: :text, input_html: { class: 'flex-grow-1 task-description' }, wrapper_html: { class: 'flex-grow-1 d-flex flex-column' } %>
  <%= f.submit 'Save' %>
  <% end %>

  <%# to delete %>


  <div class="d-flex justify-content-between align-items-end mt-2">
    <% @task.documents.each do |doc| %>
      <% url = cloudinary_url(doc.key) %>
      <% image_url = url.sub('/upload/', '/upload/f_jpg/') %>

      <div class="col-3 card border-0 mx-1">
        <a href="<%= url %>"><img src="<%= image_url %>" class="w-100 border" alt=""></a>
      </div>
    <% end %>

    <div>
      <p class="task-icons" data-action="click->task-cards#closeCard"><i class="fa-solid fa-arrow-up-right-from-square"></i></p>

      <%= render "tasks/checkbox", task: task %>

      <p class="task-icons"><%= link_to task_path(@task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa-regular fa-trash-can text-dark"></i>
      <% end %></p>

      <p data-action="click->task-cards#openEdit" class="task-icons"><i class="fa-regular fa-pen-to-square"></i></p>
    </div>


  </div>

</div>
