<div class="dimmed-page" data-controller="sliding-effect">

  <div data-sliding-effect-target="content" class="task-show-card container p-5">

    <h1><%= @task.title %></h1>

    <p><%= @task.description %></p>
    <p><%= @task.due_date %></p>
    <p><%= @task.priority %></p>
    <div class="row">
    <% @task.documents.each do |doc| %>
      <% url = cloudinary_url(doc.key) %>
      <% image_url = url.sub('/upload/', '/upload/f_jpg/') %>
      <div class="col-3">
        <a href="<%= url %>"><img src="<%= image_url %>" class="w-100" alt=""></a>
      </div>
    <% end %>
    <button data-action="click->sliding-effect#toggleSlide">big card</button>
    </div>
  </div>

</div>
