<%# main row for the entire page %>
<div class="d-flex justify-content-center px-2">
  <div class="container-fluid">
    <div class="row">
      <%# left side comprising of chat and spotify %>
      <div class="col-4 left-column gap-3 vh-100 sticky-top">
        <%# chatbot %>
        <div class="d-flex flex-column align-items-start">
          <div class="d-flex justify-content-around chat-wrapper mb-2">

              <%= render 'conversations/index', chat: @chat, conversation: @conversation %>

          </div>
        <%# spotify player %>
          <div class="spotify-player">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZEVXcXgSoEyYCZer?utm_source=generator&theme=0" width="100%" height="170px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </div>
        </div>
      </div>

      <%# right side for tasks cards %>
      <div class="col-8" data-controller="task-cards">
      <div class>
        <%= label_tag :query, "Find task keywords" %>
        <%= text_field_tag :query, params[:query], placeholder: 'Keyword(s)...' %>
        <%= submit_tag 'Find' %>
      </div>
        <div class="row">
          <div class="mt-4 position relative home-icons col-1 d-flex flex-column align-items-center justify-content-start">
            <p><i class="fa-regular fa-calendar fs-3"></i></p>
            <p><i class="fa-solid fa-chalkboard fs-3"></i></p>
            <p data-action="click->task-cards#openCreate"><i class="fa-regular fa-square-plus fs-3"></i></p>
            <div class="new-task popup" data-task-cards-target="newcontent">
            </div>
          </div>

          <div class="col-11">
            <div class="row" data-task-cards-target="insertform">
              <%= render 'tasks/index', tasks: @tasks %>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
