<!DOCTYPE html>
<html>
  <head>
    <title>LogsLols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <div class="container"
    data-controller="reminder-subscription"
    data-chatroom-subscription-user-id-value="<%=current_user.id%>"
    >
      <h1><%= current_user.email %></h1>
      <h1><%= current_user.id %></h1>

      <ul class="" data-reminder-subscription-target="reminders">
        <% current_user.reminders.each do |reminder| %>
          <li><%= reminder.task.title %></li>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
